<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css"> 
    <!-- in above line we give the link, like this because we mentioned in the index.js that we will get all the required static files from the public folder, so our links start from there -->
     <!-- here we connected the CSS -->
</head>
<body>
    <H1>Hey <%= 2+2 %> </H1>
    <!-- whenever we write something bw <%= %> then it calulate the math written here -->


    <script src="/javascripts/script.js"></script>    
    <!-- connecting the javascript here -->
</body>
</html>